.banner-containers{
    height: 600px;
    color: #fff;
}
.carousel-caption {
    display: flex;
    align-items: center;
    top: 0;
    left: 0 !important;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 700px;
    text-align: center; 
}
.caption h1{
    font-size: 48px;
    font-weight: 700;
}
.caption p{
    font-size: 20px;
}

.carousel-container{
    height: 600px;
    
}
.carousel-container::before{
    content: "";
    display: block;
    background: #000;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.caption h4{
    color: crimson;
}
.bn-special{
    font-size: 1.2em;
    color: #006466;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: transparent!important;
    border-color: lightgrey !important;
    border-radius: 50% !important;
    
}
.carousel-indicators [data-bs-target] {
    
    background-color: lightgrey !important;
   
}
.btn-style{
    font-weight: 500;
    border: 1px solid #18d26e;
    padding: 10px 30px;
    background-color: #18d26e !important;
    color: #fff;
    margin-top: 30px;
    transition: all 0.3;
    border-radius: 50px;
}
.btn-style:hover{
    color: #18d26e;
    background-color: #fff !important;
    transition: 0.1;
}
.btn-style:active{
    color: #fff;
    background-color: coral !important;
}

@media only screen and (max-width: 600px) {
    .carousel-container img{
        height: 300px;
    }
    .carousel-caption {
        
        top: 0;
        left: 0px !important;
        color: black;
        width: 300px;
        text-align: left; 
    }
    .btn-style{
        font-weight: 500;
        border: 1px solid #fff;
        padding: 10px 20px;
        background-color: #fff !important;
        color: rgb(70, 19, 75);
        box-shadow: 4px 4px 20px rgba(129, 128, 128, 0.12);
        margin-top: 5px;
        transition: all 0.5;
    }
}

