.nav-background{
    background-color: #000000 !important;
  }
  .hero-font{
      border-left: 5px solid #18d26e;
      padding-left: 15px;
      font-weight: bold;
  }
  .items {
      list-style: none;
      margin-right: 25px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      cursor: pointer;
      padding: 5px;
      /* margin-top: 15px; */
      text-decoration: none;
    }
    .items:hover {
      color: #18d26e;
    }
    
    .logo {
        width: 200px;
      /* margin-top: 15px !important; */
      color: #fff !important;
      display: flex;
      justify-content: center;
      align-items: center;
      
  
    }
    .loginBtn{
      margin-left: 15px !important;
      /* margin-top: 5px !important; */
    }
    .menu {
      width: 100%;
    }
    .Menu-container {
      display: flex;
    }
    .navmenu{
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      background-color: #000000 !important;
      justify-content: center;
      align-items: center;
      
    }
    .nav-container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: scroll;
      
    }
   
    .input span:hover{
      color: #30FBEF;
    }
    .form-input{
      position: absolute;
      color:  #30FBEF;
  
    }