.skillbar-bar{
        background-color: blue !important;
        -webkit-border-radius: 3px;
        transition: 0.4s linear;
        transition-property: all;
        transition-property: width, background-color;
}
.skillbar-title{
    background: rgb(70, 255, 33);
}
.skillbar-percent{
    font-size: 15px;
    font-weight: bold;
    color: Black;
}
.progress-content{
    text-align: center;
    padding: 20px 10px 40px 10px;
}
.progress-content h2{
    font-weight: bold;
}
.progress-content h2:after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    border: 1px solid #18d26e;
    background: #18d26e;
    bottom: 0;
    left: calc(90% - 20px);
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    
}